IDI_ICON1               ICON    DISCARDABLE     "omegasensor.ico"
1 VERSIONINFO
FILEVERSION     0,0,1,1
PRODUCTVERSION  0,0,1,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Team Omega"
      VALUE "FileDescription", "Omega Sensor Hub Client"
      VALUE "FileVersion", "0.0.1.1"
      VALUE "InternalName", "omegasensor"
      VALUE "LegalCopyright", "Copyright (C) 2014 Team Omega"
      VALUE "OriginalFilename", "omegasensor.exe"
      VALUE "ProductName", "Omega Sensor Hub Client"
      VALUE "ProductVersion", "0.0.1 build 1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
